.wagyu-cta__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.wagyu-cta__wrapper > * + * {
	margin-top: 20px;
}

.wagyu-cta .copy {
	color: #4B5058;
	text-align: center;
	font-family: "new-hero";
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.wagyu-cta .copy p {
	margin: 0;
}

.wagyu-cta .copy p + p {
	margin-top: 12px;
}

@media screen and (max-width: 767px) {
	.wagyu-cta .copy {
		font-size: 12px;
		max-width: 335px !important;
	}
}
